.footer-text
  %p
    Made by Peter Souter
    %a{:href => "http://twitter.com/petersouter"} (@petersouter)
    Check it out on
    %a{:href => "http://github.com/petems/gsubular"} Github.
    Pull requests welcome!

= NewRelic::Agent.browser_timing_footer