!!! Strict
%html
  %head
    %title Gsubular
    %meta{:content => "regex, gsub, gsubular, global substitution, rubular, ruby, rails, ruby on rails, regular expression, regexp", :name => "keywords"}
    %meta{:content => "Gsubular allows you to test out Ruby gsub (global substitution) in your browser, similar to how Rubular!", :name => "description"}
    %link{:rel=>"stylesheet", :type=>"text/css", :media=>"screen", :charset=>"utf-8", :href=>"/style.css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Alegreya:700", :rel => "stylesheet", :type => "text/css"}
    %script{:src=>"http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js", :type=>"text/javascript"}
    %script{:src=>"/javascripts/application.js", :type=>"text/javascript"}

  %body
  #container
    = yield

    = partial :footer




