body
  :background #fff
  :text-align center
  :color #000

h1, h2
  :font-family 'Alegreya', serif
  :font-weight 700
  :line-height 46px
  :font-size 46px
  :text-shadow 1px 1px 1px #ccc

p, span
  font-family: 'Roboto', sans-serif
  font-size: 15px
  line-height: 23px
  margin: 0 0 23px 0

input
  height: 20px
  padding: 4px 6px
  margin-bottom: 10px
  font-size: 14px
  line-height: 20px
  color: #fff
  vertical-align: middle
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px

#gsub_div
  :width 93%
  :height 100px
  :padding 1%

#gsub_answer
  :color green

#gsub_error
  :color red

#test_string
  :width 40%

#gsub_replacement_input
  :width 10%

#gsub_pattern_input
  :width 10%

